{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}PartyUp{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Rancho|Roboto+Slab' rel='stylesheet' type='text/css'>
    <script src="{% static 'web/js/api.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="logo">
        PartyUp 
    </div>
    {% block body %}{% endblock %}
    <script type="text/javascript">
    // Initialize the API
    $(document).ready(function() {
        set_server("{{ server }}");
    });
    </script>
</body>
</html>