{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}PartyUp{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Rancho|Roboto+Slab' rel='stylesheet' type='text/css'>
    <script src="{% static 'web/js/api.js' %}"></script>
    <script src="{% static 'web/js/base.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    $(function(e) {document.body.addEventListener("ontouchstart", function(event) {
        if(document.getElementById("total-container").scrollTop > 3) return;
        event.preventDefault();
        event.stopPropagation();
    }, true);});
    </script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div total-container="total-container" >
        {% block dropdown %}
        <div class=shade onclick="$('.dropdown').hide('slide', {
                         direction : 'right'
                         }, 500); $('.shade').fadeOut();"></div>
        <div class="dropdown" onclick="$(this).hide('slide', {
                              direction : 'right'
                              }, 500); $('.shade').fadeOut();">
            <div class="dropdown-option">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search Users	
            </div>
            <div class="dropdown-option">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                Notifications
            </div>
            <div class="dropdown-option">
                <span class="glyphicon glyphicon-sunglasses"  aria-hidden="true"></span>
                View Groups
            </div>
            <div class="dropdown-option">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                View Events
            </div>
            <div class="dropdown-option"
                 style="border-top: solid;
                 border-bottom: none;
                 position: absolute;
                 bottom: 0px;
                 width: 100%;">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                Logout
            </div>
        </div>
        {% endblock %}

        {% block nav_bar %}
        <div class="logo">
            PartyUp 
            <span class="glyphicon glyphicon-th-list dropdown-icon" aria-hidden="true" onclick="$('.dropdown').show('slide', { direction: 'right'}, 500); $('.shade').fadeIn()"></span>
        </div>
        {% endblock %}

        {% block body %}{% endblock %}
    </div>
</body>
</html>
