{% extends "web/base.html" %}
{% load staticfiles %}
{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/group-home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/group-ping.css' %}">
	<script src="{% static 'web/js/group-home.js' %}"></script>
	<script src="{% static 'web/js/moment.js' %}"></script>
{% endblock extra_head %}
{% block body %}
	<div id="group-carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			{# Groups will be added here #}
		</div>
	</div> <!-- Carousel -->
	<!-- Indicators -->
	<ol class="carousel-indicators">
		{# Carousel indicators will be added here #}
	</ol>
	<div id="loader">
		<img src="{% static 'web/images/ajax_loader_gray_512.gif' %}">
	</div>
{% endblock body %}
