{% extends "web/base.html" %}
{% load staticfiles %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/group-home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/css/group-ping.css' %}">
<script src="{% static 'web/js/group-home.js' %}"></script>
<script src="{% static 'web/js/moment.js' %}"></script>
<script src="{% static 'web/js/group-events.js' %}"></script>
{% endblock extra_head %}
{% block body %}

<div class="wrapper">
    <div class="group-name">
    </div>
    <div class="event-curr" style="  border-bottom: 10px solid;">
        Change Events
    </div>
    <div class="group-events">
    </div> <!-- End group-events -->
    <div class="confirm-buttons">
        <div class="general-button" style="font-size:70px;">
            Set as Group's Event
        </div>
        <div class="general-button" style="font-size:70px;">
            Set as Your Event
        </div>
    </div>
<div id="loader">
    <img src="{% static 'web/images/ajax_loader_gray_512.gif' %}">
</div>
</div>
{% endblock body %}
