{% extends "web/base.html" %}
{% load staticfiles %}
{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/group-home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/group-ping.css' %}">
    <script src="{% static 'web/js/group-ping.js' %}"></script>
{% endblock extra_head %}
{% block body %}
    <div class="wrapper">
        <div class="group-name-fixed">
        </div>

        <div class="event-curr">
            Ping Users
        </div>

        <div class="ping-members">
            {# Group members go here #}
        </div>
    </div>
    <div id="loader">
        <img src="{% static 'web/images/ajax_loader_gray_512.gif' %}">
    </div>
{% endblock body %}
